body {
  background: #fff !important;
}

.typing {
  color: #3F3D56;
  font-size: 5vw;
  letter-spacing: 0.5px;
}
@keyframes typing-1 {
  from {width: 0ch;border-color: #000;visibility: visible;}
  to {width: 23ch;border-color: #000 0;visibility: visible;}
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

@media all and (max-width:959px) {
  .typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff;
    visibility: hidden;
    font-family: 'Times New Roman', Times, serif;
    animation: typing-1 4s steps(23);
    animation-fill-mode: forwards;
    animation-delay: 1s;
    width: 23ch;
  } 
}